* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f8fa;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

.header {
    width: 100%;
    display: block;
    padding: 20px 20px 40px;
    text-align: center;
}

.h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0b5ed7;
    margin-bottom: 20px;
}

.link {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.link li a {
    display: inline-block;
    background-color: #0b5ed7;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
    white-space: nowrap;
    cursor: pointer;

}

.link li a:hover {
    background-color: #0a4db0;
    transform: translateY(-2px);
}

.doctorCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
    margin-top: 40px;

}

.doctorCard {
    background-color: #ffff;
    border: 2px solid #0b5ed7;
    border-radius: 12px;
    width: 220px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
}


.doctorCard:hover {
    border-color: #0a4db0;
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(11, 94, 215, 0.5);
}

.doctorCard img {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    border:2px solid #0b5ed7;
    margin-bottom: 15px;
}

.doctorCard p {
   font-size: 0.95rem;
   margin-bottom: 15px;
   color: #0a4db0;
}

.doctorCard button {
    padding: 10px 20px;
    background-color: #0b5ed7;
    color: #ffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition:all 0.3s ease;
}

.doctorCard h4{
   font-size: 1.2rem;
   font-weight: 600;
   color: #0b5ed7;
   margin-bottom: 5px;
}

.doctorCard button:hover{
    transform: translateY(-3px);
    background-color: #0a4db0;
}
@media(max-width:1024px){
     .doctorCards{
        grid-template-columns: repeat(2,1fr);
     }
}

@media(max-width:480px){
     .doctorCards{
        grid-template-columns: 1fr;
     }
}

@media (max-width: 480px) {
    .h1 {
        font-size: 1.5rem;
    }

    .link {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .link li a {
        display: block;
        width: 200px;
        text-align: center;
        padding: 10px 0;
        font-size: 14px;
    }
}