* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f8fa;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

.header {
    width: 100%;
    display: block;
    padding: 20px 20px 40px;
    text-align: center;
}

.h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0b5ed7;
    margin-bottom: 20px;
}

.link {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.link li a {
    display: inline-block;
    background-color: #0b5ed7;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
    white-space: nowrap;
    cursor: pointer;

}

.link li a:hover {
    background-color: #0a4db0;
    transform: translateY(-2px);
}

.section {
    display: block;
    width: 100%;
    margin-top: 100px;
}

.btnpart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.btn1 {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #0b5ed7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}

.btn1:hover {
    background-color: #0a4db0;
    transform: translateY(-2px);
}

#appointment-form {
    margin-top: 20px;
    width: 100%;
    max-width: 520px;
    padding: 40px;
    border-radius: 10px;
    color: #f5f8fa;
    display: flex;
    flex-direction: column;
    gap: 15px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease, max-height 0.5s ease;

}

#appointment-form.show {
    opacity: 1;
    max-height: 700px;
    pointer-events: auto;
    scroll-behavior: smooth;
}

.form-title {
    text-align: center;
    color: #0b5ed7;
    background-color: #f5f8fa;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

#appointment-form input {
    font-size: 16px;
    padding: 16px;
    border: 1px solid #0b5ed7;
    background-color: #f5f8fa;
    color: black;
    outline: none;
    border-radius: 6px;
}

#appointment-form input ::placeholder {
    color: #aaa;
}

.sumbit-btn {
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #0b5ed7;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s
}

.sumbit-btn:hover {
    background-color: #0a4db0;
    transform: translateY(-2px);
}

@media (max-width:768px) {
    .h1 {
        font-size: 2rem;
    }

    .link li a {
        padding: 8px 16px;
        font-size: 13px;
    }

    .btn1 {
        padding: 12px 24px;
        font-size: 15px;

    }
}

@media (max-width: 480px) {
    .h1 {
        font-size: 1.5rem;
    }

    .link {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        vertical-align: middle;
        flex-wrap: wrap;
        padding: 0;
        text-decoration: none;

    }

    .link li a {
        display: block;
        width: 200px;
        text-align: center;
        padding: 10px 0;
        font-size: 14px;
    }

    .btn1 {
        width: 90%;
        max-width: 220px;
        padding: 10px 0;
        font-size: 14px;
    }

    #appointment-form {
        width: 90%;
        padding: 20px;
    }
}